<a href="#" class="list-group-item clearfix" (click)="onSelected()">
    <div class="pull-left">
        <h4 class="list-grou-item-heading">{{recipe.name}}Recipe Name</h4>
        <p class="list-grou-item-text">{{recipe.description}}Description</p>
    </div>
    <span class="pull-right">
        <img [src]="recipe.imagePath" alt={{recipe.name}} class="img-responsive" style="max-height: 50px;">
        <!-- <img src={{recipe.imagePath}} alt={{recipe.name}} class="img-responsive" style="max-height: 50px;"> -->
    </span>
</a>